<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campus_quest">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Facts"></activity>
        <activity android:name=".iNSTRUCTIOBS" />
        <activity android:name=".Settings_final" />
        <activity android:name=".Photos" />
        <activity android:name=".SettingsN" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBHq5SLATIS9o5Q8ImR5M0_Gu12yfeBYPI" />

        <activity
            android:name=".MapsActivity"
            android:label="Map" />
    </application>

</manifest>